<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrameGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FrameGUI.Properties.Settings>
            <setting name="SmoothScript" serializeAs="String">
                <value />
            </setting>
            <setting name="SuperScript" serializeAs="String">
                <value />
            </setting>
            <setting name="AnalyseScript" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioBitrate" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AudioSampleRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vBitrate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="EncodeMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CRF" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="Preset" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Tune" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxMem" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="Threads" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="FrameRate" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="iWant" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="Algo" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BFrames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoobCB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Colors" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutFPS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GPUCB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeRes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SharpenCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SharpenVal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Use2CB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Not" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OneClick" serializeAs="String">
                <value>0</value>
            </setting>
        </FrameGUI.Properties.Settings>
    </userSettings>
</configuration>